/* blog page style*/
#blog{
    margin-top: 122px !important;
}
#blog .img-box{
    padding: 30px 10px;
}
#blog .blog-img-caption{
    padding-bottom: 0px;
    bottom: 0px;
    background-color: rgba(0,60,182,0.4);
    width: 100%;
    left: 0;
    right: 0;
}
#blog .blog-img-caption p{
    line-height: 23px;
}
#blog a:hover .blog-img-caption{
    border:1px solid rgba(0,60,182,0.4);
    background-color: rgba(0,60,182,0.4);
}
#blog .blog-wrapper h3{
    font-size: 13px;
    color: #ffffff;
    display: inline-block;
}
#blog .blog-wrapper .shadow{
    margin-bottom: 25px;
}
#blog .blog-wrapper button{
    float: left;
    display: inline-block;
}
#blog .blog-wrapper .card-header{
    color: #fff;
    font-size: 16px;
    padding: 18px 25px;
}
#blog .list-group-flush .list-group-item:hover ,#blog .sub-card .card-header:hover {
    background: #294187;
    border-radius: 5px;
    margin: 7px 7px;
    transition: all .5s;
    border: none;
}

#blog .list-group-flush .list-group-item:hover a,#blog .sub-card .card-header:hover h3{
    color: #fff;
}
#blog .list-group-flush a{
    color: #1A1A1A;
    text-decoration: none;
}
#blog .sub-card .card-header{
    padding: 3px 19px 0px 25px;
    background: #fff;

}
#blog .sub-card .card-header h3{
    color: black;
}
#blog #accordionExample i.fas.fa-chevron-down{
    color: black;
}
#blog .sub-card{
    border-bottom: 1px solid #eee;
}
#blog .article{
    padding: 20px 10px;
}
#blog .article .md-5 {
    margin-bottom: 0 !important;
}
#blog .article .no-gutters{
    /*border-bottom:2px solid #eee !important;*/
}
#blog .article .blog-title{
    border-bottom: 1px solid #eee;
}
#blog .article .blog-title h2{
    color: #294187;
    font-size: 20px;
    padding: 10px 15px;

}
#blog .article .blog-content{
    margin-top: 15px;
}
#blog .article .card-details{
    padding-right: 15px;
}
/* end  blog page style*/

/*post page styles*/
#blog  .post-title h2{
    color: #294187;
    font-size: 24px;
    padding: 22px 9px;
}
#blog .post-content .post-details{
    border-bottom: 1px solid #eee;
}
#blog .post-content .post-details p{
    display: inline-block;
    padding: 15px 15px 5px;

}
.logo-company{
    width: 20px;
}

/*end post page styles*/
