/************************************************ global css ************************************************/

html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
    font-weight: normal;
}

img {
    border: 0;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

body {
    background-color: #E9ECF0;
    overflow-x: hidden;
    text-align: right;
    direction: rtl;
    font: 13px IRANSans;
}

/************************************************ header css ************************************************/

.navbar-brand img {
    width: 80px;
    margin-left: 15px;
}
.btn-phone {
    font: 16px IRANSans;
    font-weight: bold;
    align-items: center;
    margin-left: 10px;
    color: #f40106;
}
.search-section .title h1 {
    margin: 120px 0 20px 0;
    font: 2.3rem IRANSans;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.btn-login {
    font: 13px IRANSans;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: 10px;
}
.nav {
    font-family: IRANSans !important;
    font-weight: bold;
    font-size: 14px;
}
.tab-content {
    background: #f0eff0;
    padding: 10px;
}
.frm-input {
    font-size: 9.5pt !important;
    color: #8a8a8a !important;
    height: 43px !important;
    border: 1px solid #c6c6c6 !important;
    border-radius: 10px !important;
    box-shadow: 0 0 15px 0 rgba(35, 31, 32, 0.1) !important;
    text-align: center;
    width: 100%;
}
.input-box {
    text-align: center;
}
#navbar-example2 {
    padding: 0px !important;
}
#form-tab .nav-pills > li .tab-part3 {
    padding: 4px 30px;
}
.facility-section {
    background-color: #ffffff;
    padding: 60px 15px 40px 15px;
}
.facility-section .facility-box {
    border-radius: 10px;
    cursor: pointer;
}
.facility-section .feature-img {
    width: 120px;
}
.facility-section .card.feature-card {
    box-shadow: 0 0 3px 0 rgba(45, 41, 42, 0.19);
    height: 270px;
}
.facility-section .card.feature-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
}
.facility-section .facility-box h4 {
    color: #636464;
    display: block;
    margin-top: 11px !important;
    font: 15px IRANSans;
    font-weight: bold;
    text-align: center;
}
.facility-section .facility-box p {
    color: rgba(99, 100, 100, 0.5);
    line-height: 1.6em;
    margin-top: 16px !important;
    font: 13px IRANSans;
    text-align: center;
    font-weight: 600;
}
.feature-card .card-body{
    padding:0px 5px;
}

.section-img {
    width: 100%;
}
.section-img img {
    width: 100%;
}
.logo_bime {
    background: #f0f3f5;
    padding-bottom: 10px;
}
.logo-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.logo-title h2 {
    text-align: center;
    font: 21px IRANSans;
    font-weight: bold;
    display: inline-block;
    padding: 12px 25px;
    border-bottom: 2px solid #fcd857;
    color: #113f7a;
}
.btn-bime {
    margin: 15px 0;
}
.btn-bime a {
    text-decoration: none;
}
.btn-bime:hover {
    color: #003cb6;
}
.compare-btn {
    font: 13px IRANSans;
    padding: 5px;
}
.btn-bime input {
    font-family: IRANSans;
    font-size: 10.6pt;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px 0 rgba(35, 31, 32, 0.1);
    outline: none !important;
    width: 200px;
    height: 45px;
    display: block;
    position: relative;
    margin: auto;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #003cb6;
    text-decoration: none !important;
    cursor: pointer;
}
.card-body.article-body {
    padding: 8px !important;
}

.abouts-item {
    background: url(../images/aboutus.png) no-repeat;
    background-size: cover;
    min-height: 350px;
    color: #fff;
    margin-bottom: 29px;
    background-position: center;
}
.abouts-item h4 {
    font: 40px IRANSans;
    font-weight: bold;
    margin-top: 25px;
}
.abouts-item p {
    text-align: right;
    align-items: center;
    font: 15px IRANSans;
    font-weight: bold;
    line-height: 35px;
}
.abouts-item ul li {
    font: 16px IRANSans;
    font-weight: bold;
}

a.navbar-brand {
    font: 18px IRANSans;
    color: #000;
    margin-right: 10px;
    font-weight: bold;
    padding-left: 14px;
}
span.span-input {
    text-align: right;
    font: 14px IRANSans;
    font-weight: bold;
    float: right;
}
span.span-carname {
    font: 18px IRANSans;
    font-weight: bold;
}
.card-header:first-child {
    font: 20px IRANSans;
    font-weight: bold;
}
#slidebar-icon {
    position: fixed;
    top: 36px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 0px 4px 4px 0px;
    font-size: 32px;
    text-align: center;
    line-height: 43px;
}
#sidebar {
    width: 250px;
    height: 100%;
    top: 0;
    right: -250px;
    padding: 50px 0 10px 0;
    text-align: center;
    position: fixed;
    transition: right 1s;
    -webkit-transition: right 1s;
    -moz-transition: right 1s;
    -o-transition: right 1s;
    -ms-transition: right 1s;
}
#sidebar:hover {
    right: 0px;
}
#sidebar ul {
    list-style-type: none;
}
#sidebar #menu {
    margin-top: 50px;
}
#sidebar #menu ul li {
    font-family: 'Exo 2', sans-serif;
}
body {
    background: #eff1f4;
}
#sidebar {
    background: #1A1A1A;
    z-index: 1000;
}
#slidebar-icon {
    color: #8594a2;
    margin-top: -13px;
}
#sidebar #menu ul li {
    font-family: 'Exo 2', sans-serif;
    height: 40px;
    margin-top: 5px;
    transition: background 1s;
}
#sidebar #menu ul li a {
    color: #fff;
}
#sidebar #menu ul li:hover {
    background: #4ABCDD;
    border-left: 4px solid #fff;
    font-weight: bolder;
    font-size: 18px
}
li i {
    color: #fff;
    border: 2px solid #fff;
}
#copyright {
    color: #8594a2;
}
#sidebar:hover {
    right: 0px;
}
#sidebar:hover #slidebar-icon {
    opacity: 0;
}
#sidebar .logo > a > img {
    width: 150px;
}
#sidebar #menu ul li {
    font-size: 18px;
    font-family: IRANSans
}
#sidebar #menu ul li:hover {
    background: #ddd;
    border-left: 4px solid #fff;
    font-weight: bolder;
    font-size: 18px;
    font-family: IRANSans
}
.mr-class {
    margin-right: 115px;
    font-size: 15px;
    margin-top: -10px
}
.icon {
    display: inline-block;
    color: #495057;
    border: none;
    padding-right: 5px;
}

/************************************************ about-us page style ************************************************/
.content .title {
    color: #294187;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    margin: 42px 0 14px;
}
.address ul li {
    list-style: none !important;
    display: inline-block;
    padding: 5px;
}
.form-input.force-floating .form-control[required] ~ label:after {
    content: "*";
    display: inline-block;
    color: #cf4959;
    font-size: 14px;
    padding: 0 3px;
    -webkit-transition: font-size .2s;
    transition: font-size .2s;
    height: 8px;
}
#contact-us .third-title {
    margin: 30px 1px;
    color: #294187;
    display: inline-block;
    border-bottom: 2px solid #f8c724;
}
#contact-us .third-title h4 {
    font-size: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}
/************************************************ end about-us page style ************************************************/
a {
    color: #000;
}
.modal-footer {
    padding: 8% 29% !important;
}

/* profile style*/

#profile h5 {
    color: #ffffff;
}
.faq {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* responsive */
/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .img-bime {
        display: inline;
    }

    .feature-img {
        margin: 1% 26% !important;
    }

    p.blog-text {
        text-align: right;
    }
}

/************************************************ login ************************************************/

#login .panel-body .col-md-10, #register .panel-body .col-md-10 {
    margin-bottom: 12px;
    float: left;
}
.form-horizontal .control-label {
    margin-bottom: 28px;
    float: right;
}
#login .btn-default.active, .btn-default:active, .btn-default:hover, .open > .btn-default.dropdown-toggle {
    color: #636b6f;
    background-color: #e6e6e6;
    border-color: #adadad
}
#login .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .btn-default.dropdown-toggle.focus, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle:hover {
    color: #636b6f;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}
#login .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}
#login .dropdown-menu-right, .dropdown-menu.pull-right {
    left: auto;
    right: 0
}
#login .dropdown-header, .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    line-height: 1.6;
    white-space: nowrap
}
#login .dropdown-menu .divider {
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: #e5e5e5
}
#login .dropdown-menu > li > a {
    font-weight: 400;
    color: #333;
    text-align: right;
    padding: 10px 16px;
}
#login .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}
#login .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #3097D1
}
#login .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    color: #777
}
#login .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}
#login .open > .dropdown-menu {
    display: block
}
#login .checkbox {
    margin-top: 8px;
    margin-bottom: 8px;
}

/************************************************ register ************************************************/

#register .panel-heading, #login .panel-heading {
    padding: 18px;

    font-weight: 800;
    font-size: 20px;
    color: #2e5795;
}

/*********************************************** Extra large devices (large desktops, 1200px and up) ***************************************/
@media (min-width: 1200px) {
    .feature-card {
        height: 337px;
    }
    #third-party-insurance-content .nav-tabs .nav-link {
        width: 210px;
    }
    .faq .nav-tabs .nav-link {
        width: 170px !important;
    }
    .question-content .nav-tabs .nav-link {
        width: 175px !important;
    }
    #login .panel-heading {
        margin-right: 201px;
        font-weight: 800;
        font-size: 20px;
        color: #2e5795;
    }
    #register .panel-heading {
        margin-right: 56px;
    }
}


@media (min-width: 360px) and (max-width: 640px) {
    .radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
        float: left;
    }
}

/*------------------------------------- new -------------------------------------*/

/***************************** animation ***********************************/

@keyframes icon{

    0%{
        transform:rotate(0deg);
    }

    8%{
        transform:rotate(10deg);
    }

    15%{
        transform:rotate(20deg);
    }

    30%{
        transform:rotate(10deg);
    }

    45%{
        transform:rotate(0deg);
    }

    65%{
        transform:rotate(-10deg);
    }

    80%{
        transform:rotate(-20deg);
    }
    90%{
        transform:rotate(-10deg);
    }

    100%{
        transform:rotate(0deg);
    }

}
/************************************************************/
@keyframes zoom_anim{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}

/*------------------------ all----------------------------*/
.press-btn:hover {
    animation-name:zoom_anim;
    animation-duration:0.6s;
    animation-iteration-count:1;
    animation-timing-function: linear;
}

.bincleft:before{
    content:" ";
    position:absolute;
    top:99%;
    right:0px;
    left:100%;
    bottom:-2px;
    background-color:#080188;
    transition:left 0.5s linear;
}
.bincleft:hover:before{
   left:1px;
}
/*------------------------ header----------------------------*/

.phone {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #070177;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: white;
    border: 1px solid #070177;
    transition: background 0.5s ease-in-out;
}
.phone:hover{
    color: #070177;
    background: white;
    border: 1px solid #070177;
}
.top-nav-login {
    text-align: center;
}


.header-menu{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
    background: white;
    box-shadow: 1px 6px 23px 8px #555b61;
    transition: width 0.5s ease-in-out;
}
.header-menu.fixed-menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
}
.header-menu .logo-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img img{
    width: 60px;
    height: 60px;
}
.header-menu .brand-box .logo-txt{
    font-size: 12px;
}
.header-menu .close-box{
    display: none;
}
.header-menu .close-box .close-btn i{
    font-size: 20px;
    color: #070177;
    vertical-align: middle;
    margin: 1px -2px;
    transition: color 0.5s ease-in-out;
}
.header-menu .close-btn:hover{
    background:#070177;
}
.header-menu .close-btn:hover i{
    color:#fff;
}
.header-menu .menu-box {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.header-menu .menu-box .menu-list{
    height: 100%;
    margin: 0px;
}
.header-menu .menu-box .menu-list .menu-list-item{
    margin-left: 10px;
    display: inline-block;
}
.header-menu .menu-box .menu-list .menu-list-item .menu-list-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: IRANSans !important;
    font-weight: normal;
    font-size: 10px;
    border: 0px solid red;
    color: #939292;
    transition: color .7s ease;
    transition-property: color,background-color,transform;
    transition-duration: .15s;
    border-bottom: 2px solid #fff;
    position: relative;
    height: 100%;
    padding: 15px 3px;
}
.header-menu .menu-box .menu-list .menu-list-item .menu-list-link i{
    color: #a4a3a3;
    font-size: 17px;
    display: block;
    border: none;
    padding: 5px;
}
.header-menu .menu-box .menu-list .menu-list-item.active{
    background-color: rgba(221, 222, 224, 0.46);
}
.header-menu .menu-box .menu-list .menu-list-item.active .menu-list-link{
    border-bottom: 3px solid #080188;
    color: #939292 !important;
}
.header-menu .menu-box .menu-list .menu-list-item.active .menu-list-link i{
    color: #e7ba35;
}

.header-menu .menu-box .menu-list .menu-list-item.active .menu-list-link:hover{
    transform: translateY(0px);
}

.login-btn-box .btn-login{
    color: #7e7575  !important;
    border: 2px solid #080188;
    transition:background 0.8s ease;
    -webkit-transition:background 0.8s ease;
    -moz-transition:background 0.8s ease;
    -ms-transition:background 0.8s ease;
    -o-transition:background 0.8s ease;
    padding: 5px 8px !important;
}
.login-btn-box .btn-login.log{
    margin-left: 0px;
    border-radius: 0px 0px 6px 0px !important;
    margin-right: 20px;
}
.login-btn-box .btn-login.reg{
    border-radius: 6px 0px 0px 0px !important;
}
.login-btn-box .btn-login:hover{
    color: #fff  !important;
    background:#080188;
}
.logo-boxx{
    display: none ;
    box-shadow: 1px 6px 23px 8px #555b61;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1998;
    background: #f2f2f3;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.logo-boxx .hamberger-box{
    display: flex;
    justify-content: space-between;
}
.logo-boxx .hamberger-box .hamberger-btn i{
    font-size: 20px;
    color: #070177;
    vertical-align: middle;
    margin: 1px -2px;
    transition: color 0.5s ease-in-out;
}


.header-box-dark{
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    z-index: 1999;
    background: #00000080;
}

.open-Dark{
    width: 100% !important;
}
.open-Menu{
    width: 80% !important;
}
.opa-Light{
    opacity: 1 !important;
}
.overflow-hid{
    overflow-y:hidden;
}

/*------------------------ filter----------------------------*/
.search-section{
    background-image: linear-gradient(0deg, rgb(240, 242, 245) 0%, rgb(28, 65, 115) 100%);
    padding: 85px 25px;
    padding-bottom:22px;
    margin-bottom: 0px;
}
.search-section .nav-tabs{
    padding-right: 8px;
    border-bottom: none !important;
}
.search-section .nav-link{
    transition: all .1s ease;
    position: relative;
    top: 0px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    width: 110px;
    height: 85px;
    padding: 23px 3px;
    color: #fff;
    float: right;
    margin-left: 3px;
    transform: skewX(8deg);
    box-shadow:-3px 4px 5px -1px #060f1b;
    border:0px solid transparent;
    font-size: 11px;
    font-weight: normal;
}
.search-section .nav-link:hover{
    border:0px solid transparent;
    transform: skewX(5deg);
}
.search-section .nav-item .nav-link i{
    color: white;
    margin-left: 3px;
}
.search-section .nav-link:hover i{
    animation-name: icon;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#p1 .nav-link {
    background-color: #0d2039;
}
#p2 .nav-link {
    background-color: #102847;
}
#p3 .nav-link {
    background-color: #112c4e;
}
#p4 .nav-link {
    background-color: #133055;
}
#p5 .nav-link {
    background-color: #194071;
}
#p6 .nav-link {
    background-color: #0f4384;
}
#p7 .nav-link {
    background-color: #104e9c;;
}
#p8 .nav-link {
    background-color: #1357ad;
}
.lastmenu .nav-link::before , .lastitem .nav-link::before {
    border-bottom: 83px solid #132f54;
    border-left: 19px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0px;
    right: 110px;
    width: 0;
}
.search-section .nav-item.active .nav-link {
     background-color: #eef3fb !important;
     color: #0d2039;
     border:none;
}
.search-section .nav-item.lastitem .nav-link {
     background-color: #194071 !important;
     width: 220px;
     font-size: 15px;
     margin-right: 10px;
     height: 85px;
}
.search-section .nav-item.lastitem .nav-link::before {
    right: 219px !important;
    border-bottom: 83px solid #132f54 !important;
    border-left: 19px solid transparent !important;
    top:0px !important;
}
.search-section .nav-item.lastitem i{
    display: inline !important;
    margin-left: 10px !important;
}
.search-section .nav-item.active i {
     color: #0d2039;
}
.search-section .tab-content {
    background: #f5f5db;
    box-shadow: 1px -4px 5px -1px #555b61;
    border-radius: 3px;
}
 .aboutus{
    background: rgba(15,35,62,.78);
    margin: 20px 0px;
    padding: 4px 9px;
    color: white;
    display: inline-block;
    border-radius: 20px;
}
.aboutus span{
    background: #fdd957;
    color: black;
    border-radius: 9px;
    padding: 0px 5px;
    margin-left: 7px;
}
/*-------------------------- slider form -------------------------*/
.wizard-content{
    min-height: 115px !important;
    padding:9px 0px !important;
}
.wizard-step{
    padding: 2px 10px;
    height: 100%;
}
.wizard-btn{
    background: #fcd857;
    border: 1px solid #fcd857;
    color: #132d4e !important;
    font-size: 11px;
    padding: 7px 13px;
}
.wizard-prev{
    float: left;
}
.wizard-next{
    float: right;
}
.prev-par{
    padding-right: 0px;
}
.next-par{
    padding-left: 0px;
}
.wizard-btn i{
    font-size: 20px;
    vertical-align: middle;
}
.wizard-prev i{
    margin-left: 3px;
}
.wizard-next i{
    margin-right: 3px;
}
.wizard-btn:hover{
    background: #fbcd29;
}
.wizard-btn:focus{
    outline: 0;
    box-shadow:none;
}
.wizard-btn:hover i{
    color: #0e6add !important;
}
.wizard-reg{
    background: #152e4f;
    border: 1px solid #152e4f;
    font-size: 12px;
    padding: 7px 15px;
}
.wizard .wizard-conditional.dn{
    display: none;
}
.loss-condition.dn{
    display: none;
}
.number-condition.dn{
    display: none;
}
.conditional-btn-next.dn,.conditional-btn-next.dn{
    display: none;
}
.error-text.dn{
    display: none;
}
/*----------------------- filter and slider -------------------------*/
.btns-step button{
    margin-top: 25px;
}
.btns-step{
    height: 100%;
}
.content-step{
    height: 100%;
    border-right: 2px solid #f9f9d2;
    border-left: 2px solid #f9f9d2;
    overflow-y: auto !important;
}
#step1 .content-step{
      border-right: none;
}
.slider-label{
    margin-bottom: 7px;
    color: #6b6c6c;
    padding-right: 10px;
    font-size: 12px;
}
.slider-input{
    background-color: #fff;
    border-radius: 5px ;
    border: 1px solid #07869b ;
    color: #878787 ;
    cursor: pointer;
    font-size: 11px;
    height:40px ;
    overflow: hidden;
    padding-right: 35px ;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: none !important;
}
.slider-input.form-control:focus {
    color: #878787;
    border-color: #07869b;
    box-shadow: none;
}
.wizard-header .slider-counter{
    height: 40px;
    width: 40px;
    background: #d2eff0 ;
    border-radius: 50%;
    line-height: 35px;
    font-size: 14px;
    color: #496487;
    border: 1px solid #6ea3e7;
    transition: transform 0.2s ease-in-out;
}
.wizard-step-indicator.active .slider-counter{
    background: #00ffdb;
}
.wizard-header{
    position: relative;
    height: 41px;
}
.wizard-header .slider-counter:hover{
    border: 1px solid #0d4a98;
    transform: translateX(12px);
}
.wizard-header .wizard-step-indicator{
    margin: auto;
    z-index: 1;
}
.slider-line {
    height: 1px;
    background: #bcbfc6;
    position: absolute;
    bottom: 50%;
    z-index: 0;
    left: 0px;
    right: 0px;
}
.slider-inner-btn{
    background: transparent;
    color: #2c496c !important;
    border: 2px solid #deaf06;
    border-radius: 15px;
    width: 100%;
    text-align: center !important;
    padding: 10px;
    transition: background 0.5s ease;
    margin-top: 30px;
}
.slider-inner-btn:hover {
    background: #f0f6f6;
}
.btn-true{
    background: #acfcbe;
    border: 2px solid #79b085;
}
.btn-true:hover{
     background:#79b085;
}
.btn-false{
    background: #fe8580;
    border: 2px solid #fc5f58;
}
.btn-false:hover{
     background:#fc5f58;
}

/*----------------------- remembering -------------------------*/
#remembering{
    background: #f2f2f3;
    padding-bottom: 25px;
}
.rem-title-box{
    margin-bottom: 20px;
}
.rem-title{
    display: inline-block;
    padding: 14px ;
    background: #f55168;
    border-radius: 10px;
    font-size: 20px;
    color: #fdfeff;
    width: 300px;
}
.rem-title-box:hover{
    cursor:pointer;
}
.rem-title-box:hover img{
    animation-name: icon;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.rem-box .rem-btn{
    padding: 8px 25px;
    background: #fcd857;
    color: #132d4f;
    margin-top: 20px;
}

/*------------------------- article  --------------------------------------------------*/
.article-box{
    padding: 10px 10px;
    background:white;
    padding-bottom: 30px;
}
.blog-box {
    padding: 5px;
    min-height: 300px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    position: relative;
}
img.blog-img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right:0px;
    left:0px;
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    border-radius: 5px;
    transition:0.25s;
}
.blog-op{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #14111199;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
h4.blog-title {
    font-family: IRANSans;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
    width: 100%;
    float: right;
    color: #fff;
    padding: 15px;
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    transition:0.25s;
}
a.blog-submit {
    color: #23527c;
    border: 1px solid #23527c;
    border-radius: 5px;
    text-decoration: none;
    font: 16px IRANSans;
    font-weight: bold;
    padding: 5px 7px;
    position: absolute;
    bottom: -40px;
    background: white;
    right: 7px;
    transition:0.25s;
}
.blog-box:hover img.blog-img{
   transform: scale(1.3);
}
.blog-box:hover h4.blog-title{
    bottom:35px;
}
.blog-box:hover a.blog-submit{
    bottom: 5px;
}

/*------------------------- insurans --------------------------------------------------*/
.insurans-list{
    margin: 15px 0px;
}
.insurans-list .compare-bime{
    margin-bottom: 50px;
    margin-top: 20px;
 }
.insurans-list .compare-bime .slick-list{
    width: 90%;
    margin: auto;
}
.insurans-list .compare-bime .mediab{
    text-align: center;
}
.insurans-list .compare-bime  .mediab img {
    margin: auto;
    width: 75px;
    height: 75px;
}
.insurans-list .compare-bime  .slick-arrow{
    text-align: center;
    background: #f2f2f3;
    border-radius: 50%;
    border: 1px solid #e2e2e6;
}
.insurans-list .compare-bime .slick-prev {
    left: 20px !important;
}
.insurans-list .compare-bime .slick-next {
    right: 20px !important;
}
.slick-prev:before , .slick-next:before{
    color: #a5a2a2 !important;
    font-size: 10px !important;
}
.insurans-list .compare-bime .slick-prev:before {
    content: '>' !important;
}
.insurans-list .compare-bime .slick-next:before {
    content: '<' !important;
}
/*---------------------- footer -------------------------------------------*/
#footer {
    background: #e5e5ea;
}
.footer-box-row{
    padding: 30px;
}
.footer-box-row .footer-title h3 {
    font-family: IRANSans;
    font-size: 17px !important;
    color: #003cb6;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #fcd857;
    padding: 10px;
}
.footer-box-row .footer-cont{
   margin-top: 20px;
}
.footer-box-row .footer-cont p{
   margin-right: 10px;
}
.footer-box-row .footer-cont i{
    margin-left: 10px;
}
.footer-text {
    background: #757575;
    padding: 20px 0px 0px;
}
.footer-text h3 {
    font: 15px IRANSans;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: normal;
}
/************************************* new css for insurance form **************************************************/
.DateSelect-box{
    display: flex;
    justify-content: space-between;
}
.DateSelect-box > div{
    flex-basis: 33%;
}
.DateSelect-box .slider-input{
    width: 100%;
    text-align: center;
    padding-right: 15px;
}

/************************************* compare page **************************************************/
.compare-sec{
    padding-top: 90px;
}
.compare-header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(0deg, rgb(240, 242, 245) 0%, rgb(28, 65, 115) 100%);
    padding: 35px 25px;
}
.compare-cont{
    margin-top: 30px;
    margin-bottom: 30px;
}
.compare-cont .form-box{
    text-align: right;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #ffffff;
    font-size: 13px;
}
.compare-cont .form-box .card-header {
    background: #a7e3ff;
    padding: 10px 20px;
    border-radius:0px;
}
.compare-cont .form-box .first-head{
    border-radius: 15px 15px 0px 0px;
}
.compare-cont .form-box .last-head{
    border-radius: 0px 0px 15px 15px;
}

.compare-cont .form-box .card-header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.compare-cont .form-box .card-header-box button , .compare-cont .form-box .card-header-box span{
    color: #31415d;
    font-size: 13px;
    padding: 0px;
}
.ExtraCheck-box .ExtraCheck-row .compare-label{
    margin-bottom: 0px !important;
}
.compare-cont .form-box  .compare-label{
    margin-bottom: 7px;
    color: #6b6c6c;
    padding-right: 10px;
    font-size: 12px;
}
.compare-cont .form-box .req-star{
    font-size: 18px;
    position: relative;
    top: 3px;
    right: 3px;
    color: #fff;
}
.compare-cont .form-box  .compare-input {
    background-color: #fff;
    border-radius: 5px;
    color: #878787;
    cursor: pointer;
    font-size: 11px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: none !important;
}

.compare-cont .form-box .empty-box .req-star{
    color: red;
}
.compare-cont .form-box .empty-box .compare-input{
    border-color: red;
}

.compare-cont .form-box .DateSelect-box{
    display: flex;
    justify-content: space-between;
}
.compare-cont .form-box .DateSelect-box > div{
    flex-basis: 33%;
}
.compare-cont .form-box .DateSelect-box .compare-input{
    width: 100%;
}
.compare-cont .takafolbtn-row{
    display: flex;
    justify-content: space-between;
}
.compare-cont .takafolbtn-row .takfoladd-btn{
    background: #fcd857;
    font-size: 13px;
    border-radius: 5px 0px;
    width: 90px;
    text-align: center;
}
.compare-cont .takafolbtn-row .takfolest-btn{
    background: #194071;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #a7e3ff;
    width: 150px;
    text-align: center
}
.compare-cont .takafolbtn-row button:hover{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    color: white;
}
.compare-cont  .takafol-box .takafol-row{
    display: flex;
    border: 1px solid #eaf2f7;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    padding: 10px;
}
.compare-cont  .takafol-box .takafol-row .takfolrem-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    left: -8px;
    top: 33%;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    box-shadow: none;
    color: #ec0707;
    border: 1px solid #eaf2f7;
    background: #eaf2f7;
}
.compare-cont  .takafol-box .takafol-row .takfolrem-btn:hover{
    border: 1px solid #b1c8d6;
}
option.sel{
    color: blue;
    background: #f9e098;
}
.clist{
    margin-bottom: 10px;
    padding: 0px 35px;
}
.country-title{
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}
.clist .country-box{
    display: inline-block;
    border: 1px solid #e7ba35;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 5px;
    background: #f9e098;
    cursor: pointer;
    margin-bottom: 3px;
}

/************************************* compare page / public **************************************************/
.dn {
    display: none;
}
pre{
    font: 11px IRANSans;
}

/************************************* compare page / result-box  **************************************************/
.result-row{
    background: white;
    padding: 20px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 10px 5px #d4d1d1;
    border-right: 5px solid white;
    transition: all 0.5s linear;
    font-size: 12px;
    position: relative;
    padding-top: 50px;
}
.result-row-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-row-detail{
    color: gray;
    font-size: 11px;
    padding: 10px 20px;
}
.result-row-detail  p{
    margin-top: 5px;
}
.result-row-detail  a{
    display: flex;
    align-items: center;
}
.result-row-detail a span{
    margin-right: 5px;
}
.result-row:hover{
    border-right: 5px solid #a7e3ff;
}
.result-row.empty-result{
    display: block;
}
.result-row.empty-result:hover{
    border-right: 5px solid #e7393f;
}
.result-row.empty-result .empty-alert{
   color:#e7393f;
    margin-left: 5px;
}
.result-row .pay-box{
    display: flex;
    flex-direction: column;
}
.result-row .pay-box .btn{
    background: #e7393f;
    border-radius: 20px;
    height: 30px;
    line-height: 18px;
    font-size: 13px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}
.result-row .pay-box .btn:hover{
    color: white;
    background: #c11c22;
}
.result-row .pay-box .aghsat{
    background: white;
    border: 1px solid gray;
    color: gray;
    font-size: 12px;
}
.result-row .pay-box .aghsat:hover{
    background: white;
    color: #e7393f;
    border: 1px solid #e7393f;
}
.result-row .company-desc .desc-col{
    margin-bottom: 5px;
    text-align: center;
}
.result-row .company-desc .desc-col .star{
    color: #e7393f;
}
.result-row .company-desc .desc-col .branchCount{
    color: #e7393f;
}
.result-row .company-money {
    color: #e7393f;
    font-weight: bold;
}
.result-row .company-money .discount{
    text-decoration: line-through;
    color: gray;
}
.result-row .company-money .rial{
   text-align: center;
    color: #342c29;
    font-weight: normal;
}
.penalty-box{
    font-size: 11px;
    color: #848282;
}
.penalty-box span{
    color: #b3aaaa;
}
.result-row .plan-desc .plan-col{
    font-size: 11px;
    color: #848282;
    margin-bottom: 5px;
    text-align: center;
}
.result-row .plan-desc .plan-col span{
    color: #b3aaaa;
}
.result-row .health-form{
    font-size: 11px;
    color: #848282;
}
.result-row .health-form span{
    color: #b3aaaa;
}
.result-row .healthDetrow{
    padding: 20px 0px;
}
.result-row .healthDetrow .HealhDetail{
    position: relative;
    display: inline-block;
}
.result-row .healthDetrow .HealhDetailbox{
    background: #e9f0f3;
    padding: 7px;
    margin-left: 5px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
}

.result-row .healthDetrow .HoverDeta{
    position: absolute;
    top: -120%;
    right: 0;
    background: #ffea86f0;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    font-size: 9px;
    z-index: 5;
}
.result-row .tarh-box{
    position: absolute;
    top: 0;
    right: 0px;
    background: #a7fbff;
    border-radius: 0px 10px 0px 6px;
    padding: 5px 10px;
}
.result-row .tarh-box span.trah-sub{
    font-size: 9px;
    margin-right: 5px;
    color: #818481;
}
/**************************************************** compare page / loading-box *************************************/
.loading-box{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #27252585;
}
.loading-box .loading-sq{
    width: 50px;
    height: 50px;
    background: #dc4b4b;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px 1px 6px #bd2f2f;
}
.rotate-class{
    animation-name: rotate-anim;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration:1.2s;
}

@keyframes rotate-anim {

    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}


.Innerloading-box{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #27252585;
    z-index: 1000;
}
.Innerloading-box .Innerloading-sq{
    width: 100%;
    height: 100%;
    background: #272525;
    z-index: 1001;
    position: fixed;
    top: 0%;
    left: 0%;
}
.opac-class{
    animation-name: opac-anim;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration:1.2s;
    opacity: 0;
}

@keyframes opac-anim {

    0%    { opacity:0.7; }
    100%  { opacity: 0;}
}

/**************************************************** compare page / fire-compare  *************************************/
.ExtraCheck-box .ExtraCheck-row{
    display: flex;
    align-items: center;
}


