/**************************  third-party-insurance page style  *****************************/

.insurans-box-log{
    margin-bottom: 30px;
    background: #eff1f4;
}
.insurans-box-logt .insur-box{
    padding: 20px 60px;
}
.insurans-box-log .tab-content {
    background: #fff;
    border-top: 3px solid #294187;
}
.insurans-box-log .nav-tabs .nav-item {
    list-style: none;
}
.insurans-box-log .nav-tabs .nav-link {
    color: #010145;
    padding: 13px 0px;
    text-align: center;
    width: 215px;
    background: #fff;
    margin-left: 3px;
    box-shadow: inset 0px -4px 2px 1px #f2eeee;
}
.insurans-box-log .nav-tabs .nav-link.active{
    background-color: #294187;
    border-color: #dee2e6 #dee2e6 #294187;
    box-shadow: none;
    color: white;
}
/*-----------------------------  explain-tab ---------------------------------*/
.insurans-box-log .third-title{
    margin: 30px 1px;
    color: #294187;
    display: inline-block;
    border-bottom: 2px solid #f8c724;
}
.insurans-box-log .third-title h4 {
    font-size: 16px;
}
.insurans-box-log.third-title h4:after {
    width: 40%;
}
.paragraph {
    text-align: justify;
}
.insurans-box-log .paragraph, #third-party-insurance-content p {
    font-size: 14px;
    color: #4a4a4a;
    line-height: 2;
    text-align: justify;
}
.insurans-box-log .sub-title {
    font-size: 16px;
    padding-top: 12px;
}
.insurans-box-log li {
    list-style: none;
    font-size: 14px;
}
.insurans-box-log ul li {
    list-style: circle;
}
.insurans-box-log .table td:first-child, .table th:first-child {
    text-align: right;
}
.insurans-box-log thead {
    background: #294187;
}
.insurans-box-log thead th {
    color: #ffffff;
    padding-left: 42px;
    padding-right: 42px;
}
.insurans-box-log .table td, .table th {
    padding: .75rem 42px;
}
.insurans-box-log [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    color: #fff;
    text-decoration: none;
    text-align: right;
}
/*-----------------------------  question-tab ---------------------------------*/
.insurans-box-log .accordion > .card .card-header {
    margin-bottom: -1px;
    background: #a7e3ff;
    border-bottom: 2px solid #fff;
}
.insurans-box-log .accordion > .card .card-header button {
    color: #31415d;
}
.card-header {
    background: #294187;
    border-bottom: 2px solid #fff !important;
}
.none-border {
    border: none !important;
    border-bottom: 2px solid #ddd !important;
    display: block;
}
.none-border:focus {
    box-shadow: none !important;
}
/*-----------------------------  register-tab ---------------------------------*/

/**************************  insurance page   *****************************/
.table.car-table td, .table th {
    padding: 12px !important;
    text-align: center;
}

/************************************** size *************************************************/
@media  (max-width: 991px) {

    .insurans-box-log .insur-box{
        padding: 10px 10px;
    }
}

/************************************** size *************************************************/
@media  (max-width: 767px) {

    .insurans-box-log .insur-box{
        padding:0px 10px;
    }
    .insurans-box-log .nav-tabs .nav-item {
        width: 100%;
    }
    .insurans-box-log .nav-tabs .nav-item:hover {
       transform: scaleY(1.05);
    }
    .insurans-box-log .nav-tabs .nav-link {
        width: 100%;
        margin:auto;
        margin-left: 0px;
        margin-top: 5px;
        box-shadow:none;
        box-shadow: 2px 3px 4px 0px #838487;
    }
    .insurans-box-log .nav-tabs .nav-link.active {
        background-color: #294187;
        border-color: #294187 #294187 #294187;
         box-shadow: 2px 3px 4px 0px #021651;
         transform: scaleY(1.05);
    }
    .insurans-box-log .tab-content {
        background: #f8f8f8;
    }
    .insurans-box-log .accordion > .card .card-header button {
        font-size: 14px;
    }
    .insurans-box-log .third-title h4{
        font-size: 14px;
    }
    .insurans-box-log .paragraph{
        font-size: 13px;
    }
    .insurans-box-log .third-title{
        margin: 17px 1px;
    }
    .insurans-box-log .sub-title {
        font-size: 13px !important;
        padding-top: 5px !important;
    }
}
/************************************** size *************************************************/
@media  (max-width: 575px) {

    .insurans-box-log .insur-box{
        padding:0px 0px;
    }
    .insurans-box-log .third-title{
        margin: 12px 1px;
    }
    .insurans-box-log  .sub-title{
        font-size: 12px !important;
    }
}

/************************************** size *************************************************/
@media  (max-width: 400px) {

    .insurans-box-log .accordion > .card .card-header{
        padding: .75rem 0.25rem;
    }
    .insurans-box-log .accordion > .card .card-header button {
        font-size: 13px;
    }
    .insurans-box-log .third-title h4{
        font-size: 13px;
    }
    .insurans-box-log .paragraph{
        font-size: 12px;
    }

}
/************************************** size *************************************************/
@media  (max-width: 300px) {

    .insurans-box-log .nav-tabs .nav-link{
        font-size: 13px;
     }
    .insurans-box-log .accordion > .card .card-header button {
        font-size: 12px;
    }
    .insurans-box-log .third-title h4{
        font-size: 12px;
    }
    .insurans-box-log .paragraph{
        font-size: 11px;
    }
    .insurans-box-log  .sub-title {
        font-size: 11px !important;
    }
}
